<!-- HTML -->
<footer class="farm-mart-footer">
    <div class="middle">
        <div class="container text-center">
            <p>&copy; 2024 Farm Mart. All rights reserved. Farm Mart is a registered trademark and uses trademarks. For a list of trademarks owned by Farm Mart, please see our <a href="#">Trademark Policy </a> and <a href="#">Trademark List</a>. Trademarks and logos not indicated on the list of Farm Mart trademarks are trademarks™ or registered® trademarks of their respective holders. Use of them does not imply any affiliation with or endorsement by them.</p>
        
            <div class="social-icons">
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        
            <p>Contact Us:    Email: support@farmmart.com | Phone: (123) 456-7890</p>
          </div>
    </div>
    
  </footer>
  
  